body {
  font-size: 14px;
}

.auth,
.app-1 {
  background-image: url("~@/static/images/wave.svg");
  min-height: 100vh;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom center;
}

.app-2 {
  background: #f9f9f9;
}

.invalid-feedback {
  width: fit-content;
  background: white;
  padding: 10px;
  border-radius: 5px;
  margin-top: 5px;
  border: 1px solid tomato;
}

.msgToast {
  font-size: 1em;

  &.info {
    background: #17a2b8 !important;
  }
}

.invalid-feedback {
  font-size: 0.95em;
}

.page-enter-active {
  animation: opacity 0.5s;
}
.page-leave-active {
  animation: opacity 0.5s reverse;
}
@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

form {
  .form-group {
    position: relative;
    &::after {
      content: attr(data-label);
      position: absolute;
      top: 15px;
      left: -150px;
      min-width: 150px;
      border-radius: 50px;
      font-size: 14px;
      color: #333;
      padding: 0 10px;
      font-weight: bold;
      text-align: right;
      transition: 0.5s;
      opacity: 0;
    }
    &:focus-within {
      &::after {
        opacity: 1;
      }
    }
  }
  input,
  button {
    box-shadow: none !important;
    outline: none !important;
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
