@mixin tooltip {
  content: attr(data-label);
  position: absolute;
  min-width: fit-content;
  font-size: 14px;
  color: #333;
  white-space: nowrap;
  background: white;
  padding: 0 5px;
  text-align: right;
  transition: 0.5s;
  opacity: 0;
  transform: translate(0, 10px);
}

body {
  font-size: 14px;
}

.pointer {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0;
}

.auth,
.app-1 {
  background-image: url("~@/static/images/wave.svg");
  min-height: 100vh;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom center;
}

.app-2 {
  background: #f9f9f9;
}

.invalid-feedback {
  width: fit-content;
  background: white;
  padding: 10px;
  border-radius: 5px;
  margin-top: 5px;
  border: 1px solid tomato;
}

.msgToast {
  font-size: 1em;

  &.info {
    background: #17a2b8 !important;
  }
}

.invalid-feedback {
  font-size: 0.95em;
}

.page-enter-active {
  animation: opacity 0.3s;
}
.page-leave-active {
  animation: opacity 0.3s reverse;
}
@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

form {
  .form-group {
    position: relative;
    &::after {
      @include tooltip;
      top: -10px;
      left: 15px;
    }
    &:focus-within {
      &::after {
        opacity: 1;
        transform: translate(0, 0);
      }
    }
  }
  input,
  button {
    box-shadow: none !important;
    outline: none !important;
    border: none !important;
    border-radius: 0 !important;
  }
  input {
    color: #000 !important;
    font-weight: 600 !important;
    &::placeholder {
      font-weight: 400 !important;
      color: #aaa !important;
    }
  }
}

.ui.selection.dropdown {
  box-shadow: none !important;
  z-index: 0 !important;
  height: 50px;
  line-height: 50px;
  input {
    height: 100%;
    line-height: normal;
  }
  .text.default {
    color: #aaa !important;
  }
  .text {
    top: 7px !important;
    color: #000 !important;
    font-size: 1rem !important;
    font-weight: 400 !important;
  }
  .dropdown.icon {
    display: none !important;
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.tooltip-bottom {
  position: relative;
  &::after {
    @include tooltip;
    bottom: -30px;
    left: 0;
    right: 0;
    color: #777;
    border-radius: 2px;
    text-align: center;
  }
  &:hover {
    &::after {
      opacity: 1;
      transform: translate(0, 0);
    }
  }
}
