// custom.scss
@import "./colors.scss";
@import "bootstrap/scss/bootstrap.scss";
@import "bootstrap-vue/src/index.scss";

@font-face {
  font-family: Lato;
  src: url("../font/Lato-Regular.ttf");
}

@font-face {
  font-family: Poppins;
  src: url("../font/Poppins-Regular.ttf");
}

@mixin tooltip {
  content: attr(data-label);
  position: absolute;
  min-width: fit-content;
  font-size: 14px;
  color: #333;
  white-space: nowrap;
  background: white;
  padding: 0 5px;
  text-align: right;
  transition: 0.5s;
  opacity: 0;
  transform: translate(0, 10px);
}

html {
  min-height: 100% !important;
  height: 100%;
}

body {
  min-height: 100% !important;
  height: 100%;
  font-size: 14px !important;
  font-family: Poppins, Lato;
}

.h-90-full {
  min-height: 90vh;
}

input,
button,
section,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
label {
  outline: none !important;
  transition: 0.4s !important;
}

.tooltip {
  transition: 0s !important;
}

input:-webkit-autofill {
  -webkit-background-clip: text;
}

.rounded-lg {
  border-radius: 10px !important;
}

.custom-checkbox .custom-control-label {
  padding-top: 3px !important;
}

.pointer {
  cursor: pointer;
}

.z-1 {
  z-index: 1;
}
.z-2 {
  z-index: 2;
}
.z-3 {
  z-index: 3;
}

.font-lato {
  font-family: Lato;
}

.font-8 {
  font-size: 8px !important;
}
.font-10 {
  font-size: 10px !important;
}
.font-11 {
  font-size: 11px !important;
}
.font-12 {
  font-size: 12px !important;
}
.font-13 {
  font-size: 13px !important;
}
.font-14 {
  font-size: 14px !important;
}
.font-15 {
  font-size: 15px !important;
}
.font-16 {
  font-size: 16px !important;
}
.font-18 {
  font-size: 18px !important;
}
.font-20 {
  font-size: 20px !important;
}
.font-22 {
  font-size: 22px !important;
}
.font-24 {
  font-size: 24px !important;
}
.font-25 {
  font-size: 25px !important;
}
.font-30 {
  font-size: 30px !important;
}
.font-35 {
  font-size: 35px !important;
}
.font-40 {
  font-size: 40px !important;
}
.font-45 {
  font-size: 45px !important;
}

@media only screen and (max-width: 992px) {
  .font-10 {
    font-size: 8px !important;
  }
  .font-11 {
    font-size: 9px !important;
  }
  .font-12 {
    font-size: 10px !important;
  }
  .font-13 {
    font-size: 10px !important;
  }
  .font-14 {
    font-size: 11px !important;
  }
  .font-15 {
    font-size: 12px !important;
  }
  .font-16 {
    font-size: 13px !important;
  }
  .font-18 {
    font-size: 15px !important;
  }
  .font-20 {
    font-size: 17px !important;
  }
  .font-22 {
    font-size: 18px !important;
  }
  .font-24 {
    font-size: 21px !important;
  }
  .font-25 {
    font-size: 22px !important;
  }
  .font-30 {
    font-size: 26px !important;
  }
  .font-35 {
    font-size: 25px !important;
  }
  .font-40 {
    font-size: 30px !important;
  }
  .font-45 {
    font-size: 35px !important;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0;
}

table th,
table td {
  border: none !important;
}

table td,
table th {
  vertical-align: middle !important;
  &:first-of-type {
    border-radius: 5px 0 0 5px;
    &:lang(ar) {
      border-radius: 0 5px 5px 0;
    }
    @media only screen and (max-width: 767px) {
      padding: 5;
      border-radius: 5px 5px 0 0 !important;
    }
  }
  &:last-of-type {
    border-radius: 0 5px 5px 0;
    &:lang(ar) {
      border-radius: 5px 0 0 5px;
    }
    @media only screen and (max-width: 767px) {
      padding: 5;
      border-radius: 0 0 5px 5px !important;
    }
  }
}

.app-2 {
  background: #f9f9f9;
}

.invalid-feedback {
  border-radius: 5px;
  margin: 2px 5px 5px;
  font-size: 12px;
}

.msgToast {
  font-size: 1em;

  &.info {
    background: #17a2b8 !important;
  }
}

.page-enter-active {
  animation: opacity 0.3s;
}
.page-leave-active {
  animation: opacity 0.3s reverse;
}
@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

form {
  .form-group {
    position: relative;
    &::after {
      @include tooltip;
      top: -10px;
      left: 15px;
    }
    &.show-label {
      &::after {
        opacity: 1;
        transform: translate(0, 0);
      }
    }
    &:focus-within {
      &::after {
        opacity: 1;
        transform: translate(0, 0);
      }
    }
  }
  input,
  button {
    box-shadow: none !important;
    outline: none !important;
    border: none !important;
    border-radius: 0 !important;
  }
  input {
    color: #000 !important;
    font-weight: 600 !important;
    &::placeholder {
      font-weight: 400 !important;
      color: #aaa !important;
    }
  }
}

.ui.selection.dropdown {
  box-shadow: none !important;
  z-index: 0 !important;
  height: 50px;
  line-height: 50px;
  input {
    height: 100%;
    line-height: normal;
  }
  .text.default {
    color: #aaa !important;
  }
  .text {
    top: 7px !important;
    color: #000 !important;
    font-size: 1rem !important;
    font-weight: 400 !important;
  }
  .dropdown.icon {
    display: none !important;
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.tooltip-bottom {
  position: relative;
  &::after {
    @include tooltip;
    bottom: -30px;
    left: 0;
    right: 0;
    color: #777;
    border-radius: 2px;
    text-align: center;
  }
  &:hover {
    &::after {
      opacity: 1;
      transform: translate(0, 0);
    }
  }
}
